{% extends 'main/base.html' %}

{% block content %}

<h1> Контакты </h1>

{% include 'main/navbar.html' %}

<center>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A752d32dbd08d442d0b26c60f4daedd0e96892989b5eec1de9dc441f6268cd9c7&amp;width=956&amp;height=574&amp;lang=ru_RU&amp;scroll=true"></script>

<center>

<h3> Найти нас просто! Мы рады видеть вас в нашей «ШаурмичнаяМОЯ» по адресу:
Въезд Гагарина, 41
город Шаховская, Волгоградская область </h3>

<h3> Как с нами связаться:
📞 Телефон: 1. +7 911 567-89-01 2. +7 925 123-45-67
</h3>

<h3>
Мы работаем для вас:
⏰ Ежедневно: с [09:00] до [23:00]
</h3>

  <style>
 .clas{
            background-color: grey;
        }
    </style>

<center>

<div class="clas">

 <h3>  Волгоградская область, город Шаховская, въезд Гагарина, 41 </h3>

 <h3> 2024 Мой сайт. Все права защищены. </h3>

</div>

</center>
    
{% endblock %}