{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}

<h1>Регистрация</h1>
<form method="post">
{% csrf_token %}

{{ form.as_p }}

    <button class="btn">Зарегистрироваца</button>
</form>

<style>
    .btn{
        background-color: white;
        color: black; /* Или любой другой цвет текста, который хорошо виден на белом фоне */
        border: 1px solid black; /* Добавляем границу, чтобы кнопка была видна на белом фоне */
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>

{% endblock %}