{% extends 'main/base.html' %}

{% block content %}
<h1> О нас </h1>
{% include 'main/navbar.html' %}

 <style>
 .clas{
            background-color: grey;
        }
    </style>

<h3> "ШаурмичнаяМОЯ" — это место, где вкус встречается с традициями!
Мы верим, что настоящая шаурма — это не просто еда, это целое искусство.
В "ШаурмичнаяМОЯ" мы готовим для вас с любовью и страстью,
используя только самые свежие и качественные ингредиенты.
Сочное мясо, хрустящие овощи, ароматные специи и уникальные соусы — вот наш секрет
идеального вкуса.

   Каждый день мы стараемся, чтобы ваша шаурма была не просто обедом или ужином,
а настоящим гастрономическим удовольствием. Мы ценим наших гостей
и постоянно работаем над тем, чтобы превосходить ваши ожидания.
В "ШаурмичнаяМОЯ" вас ждет не только вкуснейшая шаурма, но и теплая атмосфера!

"ШаурмичнаяМОЯ" – Ваш вкусный выбор каждый день! </h3>

{% load static %}

<center>
        <img src="{% static 'images/0c34.jpg' %}" style="width: 1000px; height: 550px; border-radius: 50px" alt="Описание изображения">
</center>

<h3>
  У нас вы можете заказать по телефону звоните по телефонам: +79650760472, +79650860482
 круглосуточно. У нас есть разнообразие блюд, включая классическую тарелку, двойную тарелку, шаверму по-корейски, сырную шаверму,
 овощную шаверму, острую шаверму, Сытый Эд, шаверму от шефа, фалафель в питте и фалафель в лаваше.
 Закажите у нас в первый раз и получите бокс с промокодами на скидку!

</h3>




<center>
<div class="clas">

 <h3>  Волгоградская область, город Шаховская, въезд Гагарина, 41 </h3>

 <h3> 2024 Мой сайт. Все права защищены. </h3>

</div>
</center>

{% endblock %}